html {
    background-color: #c9ad63;
}

body {
    font-family: Verdana, "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

#center {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1em;
    margin: 0px 358px 0px 358px;
    text-align: center;
}

#menu {
    position:fixed;
    left: 351px;
    right: 351px;;
    top: 0px;
    height: 42px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: -0px -5px 10px 0px #181a14 inset;
    background: #525543;
}

#MenuIcon span  {
    height: 26px;
    width: 24px;
    background-size: 235px 330px;
    background-image: url('sprite_menu.png');
    vertical-align: -7px;
    margin-right: 4px;
    display: inline-block;
    margin-top: -5px;
    background-position: -25px -62px;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #d3d9b8;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

#leftImg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 350px;
    background-image: url("left.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: black;
    border-right: solid 2px black;
}

#rightImg {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 350px;
    background-image: url("right.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: black;
    border-left: solid 2px black;
}

@media only screen and (max-width: 84em) {
    #leftImg {
        display: none;
    }
    #rightImg {
        display: none;
    }
    #center{
        margin: 0px 10px 10px 0px;
    }
    #menu {
        left: 0px;
        right: 0px;
    }
    #table {
        margin-left: 8px;
    }
    #input, #output {
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        text-align: left;
        resize: vertical;
    }
}

.title {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
    color: #c5130f;
    font-style: italic;
}

a:hover {
    background-color: #7f817d;
}

table {
    width: 100%;
    margin: auto;
    margin-bottom: auto;
    background-color: #d7c384;
    margin-bottom: 5px;
    border: 2px solid #665832;
}

#input {
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#output {
    width: 100%;
    height: 150px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

tbody, tr, td {
    width: 100%;
    align-items: center;
}